.container {
    margin-top: 5%;
    width: 30vw;
    aspect-ratio: 1 / 1.3;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 9px;
}

.display {
    margin-top: 6%;
    width: 97%;
    height: 30%;
    background-color: black;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    text-align: end;
    line-height: 180%;
    font-size: 5em;
}

.button {
    aspect-ratio: 9 / 1;
    width: calc(96%/4);
    background-color: #252525;
    color: #fff;
    text-align: center;
    border: .6px solid darkgray;
    cursor: pointer;
    flex: 1 1 auto;
    line-height: 500%;
    font-weight: bold;
}

.operator {
    background-color: #252525;
}

#equalButton {
    border-radius: 0 0 9px 9px;
}